repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
    -   id: pyproject-fmt
        args: [
            "--indent", "4",
            "--keep-full-version",
            "--max-supported-python", "3.14",
        ]

# Inspired from https://til.unessa.net/git/pre-commit-hook/
-   repo: local
    hooks:
    -   id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: python
        files: '^(pyproject.toml|uv.lock)$'
        pass_filenames: false
        additional_dependencies:
        - uv==0.10.4

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
    -   id: ruff
        name: ruff lint
        args: ["--fix"]
    -   id: ruff-format
        name: ruff format

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    -   id: django-upgrade
        args: [
            # This is needed so `admin.site.register()` example from
            # https://docs.djangoproject.com/en/5.1/intro/tutorial07/
            # can stay intact.
            # https://github.com/adamchainz/django-upgrade#admin-model-registration
            --skip, "admin_register"
        ]

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      # https://github.com/python-jsonschema/check-jsonschema/pull/643#issuecomment-3903138224
      # https://github.com/python-jsonschema/check-jsonschema/issues/586
    -   id: check-renovate
        files: ^renovate.json5$
        language: python
        additional_dependencies:
        -   pyjson5==2.0.0

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
