# Adapted from https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions

name: "Tests"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request: ~

env:
    # renovate: datasource=python-version depName=python
    PYTHON_VERSION: 3.14.0
    # renovate: datasource=pypi depName=uv
    UV_VERSION: 0.9.15

jobs:
  run-django-tests:
    name: python manage.py test --parallel --shuffle
    runs-on: ubuntu-24.04
    timeout-minutes: 1

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      name: Checkout

    - name: Install uv ${{ env.UV_VERSION }} & Python ${{ env.PYTHON_VERSION }}
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        # The default value is "auto" and it resolves to "true" in Github-hosted runners, but explicit is better.
        enable-cache: true
        # uv can install Python, no need for actions/setup-python
        # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#do-i-still-need-actionssetup-python-alongside-setup-uv
        # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#python-version
        python-version: ${{ env.PYTHON_VERSION }}
        version: ${{ env.UV_VERSION }}

    - name: Install packages
      run: uv sync --frozen --no-install-project

    - name: Run tests
      working-directory: ./src
      run: uv run python manage.py test --parallel --shuffle
